@model StokKontrolMvc.Models.Entity.Musteriler

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Musteriler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MusteriAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MusteriAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MusteriSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MusteriSoyad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MusteriID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
